name: OpenTofu CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  opentofu:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    
    env:
      TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
      TF_INPUT: 'false'

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: us-east-1

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.11.5

      - name: OpenTofu Init
        run: tofu init

      - name: OpenTofu Plan
        run: tofu plan -out=plan.tfplan

      - name: OpenTofu Apply
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        run: tofu apply -auto-approve plan.tfplan

